data/TORGO/
data/recorded/
.ipynb_checkpoints/
**/.DS_Store
*checkpoint*
capstone-c60aec7ead62.json
translations_backend/service/*.wav
translations_backend/service/__pycache__/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
dysarthrai-website/node_modules
dysarthrai-website/.pnp
dysarthrai-website/.pnp.js

# testing
dysarthrai-website/coverage

# production
dysarthrai-website/build

# misc
dysarthrai-website/.DS_Store
dysarthrai-website/.env.local
dysarthrai-website/.env.development.local
dysarthrai-website/.env.test.local
dysarthrai-website/.env.production.local

dysarthrai-website/npm-debug.log*
dysarthrai-website/yarn-debug.log*
dysarthrai-website/yarn-error.log*
